<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Tourism Management System</title>
    <link rel="icon" href="{% static 'files/logo.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>
<body>
<div class="content" id="home">
    <nav>
        <img src="{% static 'files/logo.png' %}" class="logo" alt="Logo" title="FirstFlight Travels">
        <ul class="navbar">
            <li>
                <a href="{% url 'Customer_Home' %}">Home</a>
                <a href="{% url 'Location' %}">Locations</a>
                <a href="{% url 'wishlist' %}">Wishlist</a>
                <a href="{% url 'Package_page' %}">Packages</a>
                <a href="{% url 'my_booking' %}">My Bookings</a>
                <a href="{% url 'Contact_us' %}">Contact Us</a>
                <a href="/logout">Logout</a>
            </li>
        </ul>
    </nav>
</div>
{% block content %}{% endblock %}

<!-- Footer -->
<section class="footer">
    <div class="foot">
        <div class="footer-content">
            <div class="footlinks">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="">Register</a></li>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Contact Us</a></li>
                </ul>
            </div>
            <div class="footlinks">
                <h4>Connect</h4>
                <div class="social">
                    <a href="https://www.facebook.com" target="_blank"><i class='bx bxl-facebook'></i></a>
                    <a href="https://www.instagram.com" target="_blank"><i class='bx bxl-instagram'></i></a>
                    <a href="https://www.twitter.com/" target="_blank"><i class='bx bxl-twitter'></i></a>
                    <a href="https://www.linkedin.com/in/" target="_blank"><i class='bx bxl-linkedin'></i></a>
                    <a href="https://www.youtube.com/" target="_blank"><i class='bx bxl-youtube'></i></a>
                    <a href="https://www.wordpress.com" target="_blank"><i class='bx bxl-wordpress'></i></a>
                    <a href="https://www.github.com" target="_blank"><i class='bx bxl-github'></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="end">
        <p>Copyright © 2023 Tourism Management System All Rights Reserved.<br>Website developed by: Sagun Khadka</p>
    </div>
</section>
</body>
</html>