<html>
<head>
    <script src="https://khalti.s3.ap-south-1.amazonaws.com/KPG/dist/2020.12.17.0.0.0/khalti-checkout.iffe.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
</head>
<body>
...
<!-- Place this where you need payment button -->
<button id="payment-button">Pay with Khalti</button>
<!-- Place this where you need payment button -->
<!-- Paste this code anywhere in you body tag -->
<script>
    var amount = 10;
    var config = {
        // replace the publicKey with yours
        "publicKey": "test_public_key_39cdc418b5a94832ad5b95660cac22c6",
        "productIdentity": "{{package_id}}",
        "productName": "{{package.name}}",
        "productUrl": "http://127.0.0.1:8000/Payment",
        "paymentPreference": [
            "KHALTI",
            "EBANKING",
            "MOBILE_BANKING",
            "CONNECT_IPS",
            "SCT",
            ],
        "eventHandler": {
            onSuccess (payload) {
            axios.get("{% url 'Payment_Verify' package_id=package_id %}", {
            params: {
            "token": payload.token,
            "amount": payload.amount,
            "package_id": "{{package_id}}"
            }
            }).then(function(resp){
                if(resp.data.success == true){
                alert("Payment Completed Successfully. Check My Booking for more Information.")
                location.href = "{% url 'my_booking' %}";
                }
                else{
                alert("Sorry. Payment Failed")
                location.href = "{{request.build_absolute_uri}}";
                }
            })
                console.log(payload);
            },
            onError (error) {
                console.log(error);
            },
            onClose () {
                console.log('widget is closing');
            }
        }
    };

    var checkout = new KhaltiCheckout(config);
    var btn = document.getElementById("payment-button");
    btn.onclick = function () {
        checkout.show({ amount: 1000 });
    }
</script>
<!-- Paste this code anywhere in you body tag -->
...
</body>
</html>